body {
    background: #dee1e3;
}

.panel {
    position: relative;
}

    .panel > .panel-heading:after, .panel > .panel-heading:before {
        position: absolute;
        top: 11px;
        left: -16px;
        right: 100%;
        width: 0;
        height: 0;
        display: block;
        content: " ";
        border-color: transparent;
        border-style: solid solid outset;
        pointer-events: none;
    }

    .panel > .panel-heading:after {
        border-width: 7px;
        border-right-color: #f7f7f7;
        margin-top: 1px;
        margin-left: 2px;
    }

    .panel > .panel-heading:before {
        border-right-color: #ddd;
        border-width: 8px;
    }

.replyList {
    padding-left: 95px;
}

.commentList {
    position: relative;
}

    .commentList:before {
        content: '';
        width: 2px;
        height: 100%;
        background: #c7cacb;
        position: absolute;
        left: 87px;
        top: 0;
    }

.replyList:before, .replyList:after {
    display: none;
}

.replyList li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 32px;
    left: 88px;
}

.approval {
    
    background-color: #b5b9bc;
    border: 1px solid #b5b9bc;
    -ms-border-radius: 6px;
    border-radius: 6px;
    margin: 0 0 10px 100px;
    display: none;
    padding-top: 10px;
}

@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .commentList:before {
        left: 63px;
    }

    .replyList li:before {
        left: 64px;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .commentList:before {
        left: 63px;
    }

    .replyList li:before {
        left: 64px;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .commentList:before {
        display: none;
    }

    .replyList li:before {
        display: none;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .commentList:before {
        display: none;
    }

    .replyList li:before {
        display: none;
    }
}