<script type="text/javascript">
    $(document).ready(function () {

        $("#commentSend").click(function () {

            var url = "@Url.Action("CommentSave","Home")";
            var commentUserId = 1;
            var commentNote = $("#commentNote").val();
            var commentReplyId = null;
            var commentExceptId = 1;
            commentSave(commentUserId,commentNote,commentReplyId,commentExceptId, url);

        });

    })
</script>

<form>
    <div class="form-group">
        <label for="commentNote">Yorumunuz</label>
        <textarea id="commentNote" class="form-control" rows="3" placeholder="Yorumunuz..."></textarea>
    </div>

    <button id="commentSend" type="button" class="btn btn-default">Gönder</button>
</form>