<script type="text/javascript">
    $(document).ready(function () {
        var reply = false;
        var commentReplyId = null;
        var l = Ladda.create(document.querySelector('#commentSave'));
        l.stop();

        $("#commentSaveForm").validate({
            rules: {
                commentNote: {
                    required: true
                }
            },
            messages:
            {
                commentNote: "Lütfen yorumunuzu giriniz. !!!"

            }

        });

        $("#commentSave").click(function () {

            if ($("#commentSaveForm").valid()) {
                var url = "@Url.Action("CommentSave","Home")";
                var commentUserId = 2;
                var commentNote = $("#commentNote").val();
                var commentExceptId = 1;

                commentSave(commentUserId, commentNote, commentReplyId, commentExceptId, url);

            }

        });

        $(".replyBtn").click(function () {

            commentReplyId = parseInt($(this).attr("data-id"));
            var body = $("html, body");
            body.animate({ scrollTop: 0 }, '500', 'swing', function () {
                $("#commentHeader").text("Fatih Ç.  kullanıcısına cevabınız:");

            });

        });

    })
</script>

<form id="commentSaveForm" action="#">
    <div class="form-group">
        <label id="commentHeader" for="commentNote">Yorumunuz</label>
        <textarea name="commentNote" id="commentNote" class="form-control" rows="3" placeholder="Yorumunuz..."></textarea>
    </div>

    <button id="commentSave" class="btn btn-primary ladda-button" data-style="expand-right">
        <span class="ladda-label"> Gönder </span>
    </button>
</form>