@using mvc_comment
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/comment_content/loading.js"></script>
    <link href="~/comment_content/loading.css" rel="stylesheet" />
    <script src="~/comment_content/jquery.validate.min.js"></script>

    <script src="~/comment_content/comment.js"></script>
    <link href="~/comment_content/comment.css" rel="stylesheet" />
</head>
<body>
    <div class="container">

        <div class="col-md-9" style="margin-top: 30px">

            @Html.Partial(partialViewName: "partial_views/commnetSavePv")
        </div>
        <hr />
        <div class="col-md-9">

            @Html.Partial(partialViewName: "partial_views/commentListPv", model: new CommentApp().CommentList())
        </div>
    </div>

    <div>
    </div>
</body>
</html>